/*-----------------------------------------------------------
    Theme Name: Plutus
    Theme URI: 
    Description: 
    Author: 
    Author URI: 
    Version: 1.0
-------------------------------------------------------------*/




/*-----------------------------------------------------------
            General Styles 
-------------------------------------------------------------*/

dl,
dt,
dd,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    color: #222222;
    text-decoration: none;
    position: relative;
}

a:focus,
a:hover {
    color: #888;
    text-decoration: none;
    outline: none;

}

:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222222;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.6;
}

.form-control {
    border-radius: 0
}

.form-control:focus {
    border-color: #888;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.no-pad-left {
    padding-left: 0 !important;
}

.no-pad-right {
    padding-right: 0 !important;
}



.no-pad-top {
    padding-top: 0 !important;
}

.no-pad-bot {
    padding-bottom: 0 !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-15 {
    padding-bottom: 15px !important;

}

.pb-60 {
    padding-bottom: 60px !important;

}

.pb-110 {
    padding-bottom: 110px !important;

}

.pb-120 {
    padding-bottom: 120px !important;

}

.pb-130 {
    padding-bottom: 130px !important;

}

.no-pad-tb {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-35 {
    padding-top: 35px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-70 {
    padding-top: 70px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-90 {
    padding-top: 90px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-110 {
    padding-top: 110px !important;
}

.pt-120 {
    padding-top: 120px !important;
}

.pt-130 {
    padding-top: 130px !important;
}

.pt-140 {
    padding-top: 140px !important;
}

.pt-150 {
    padding-top: 150px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pb-110 {
    padding-bottom: 110px !important;
}

.pb-115 {
    padding-bottom: 115px !important;
}

.pb-105 {
    padding-bottom: 105px !important;
}

.py-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.py-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.py-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.py-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.py-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.py-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.py-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}

.py-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.py-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}

.py-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.py-110 {
    padding-top: 110px !important;
    padding-bottom: 110px !important;
}

.py-120 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}

.py-130 {
    padding-top: 130px !important;
    padding-bottom: 130px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-8 {
    padding-left: 8px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pl-35 {
    padding-left: 35px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-45 {
    padding-right: 45px !important;
}

.mar-0 {
    margin: 0 !important;
}


.pad-lr-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.pad-lr-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-45 {
    margin-top: 45px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-55 {
    margin-top: 55px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-65 {
    margin-top: 65px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-75 {
    margin-top: 75px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-85 {
    margin-top: 85px !important;
}

.mt-90 {
    margin-top: 95px !important;
}

.mt-95 {
    margin-top: 95px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-105 {
    margin-top: 105px !important;
}

.mt-115 {
    margin-top: 115px !important;
}

.mt-110 {
    margin-top: 110px !important;
}

.mt-120 {
    margin-top: 120px !important;
}

.mt-125 {
    margin-top: 125px !important;
}

.mt-145 {
    margin-top: 145px !important;
}

.mt-150 {
    margin-top: 150px !important;
}

.mt-160 {
    margin-top: 160px !important;
}

.mt-170 {
    margin-top: 170px !important;
}

.mt-180 {
    margin-top: 180px !important;
}

.mt-185 {
    margin-top: 185px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-110 {
    margin-top: 110px !important;
}

.mt-120 {
    margin-top: 120px !important;
}

.mt-130 {
    margin-top: 130px !important;
}

.mt-135 {
    margin-top: 135px !important;
}

.mt-140 {
    margin-top: 140px !important;
}


.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-55 {
    margin-bottom: 55px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-65 {
    margin-bottom: 65px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-75 {
    margin-bottom: 75px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-85 {
    margin-bottom: 85px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-95 {
    margin-bottom: 95px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mb-110 {
    margin-bottom: 110px !important;
}

.mb-120 {
    margin-bottom: 120px !important;
}

.mb-27 {
    margin-bottom: 27px !important;
}

.mb-145 {
    margin-bottom: 145px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.my-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.my-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.my-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.my-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.my-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.my-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.my-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.my-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.my-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}

.my-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}

.my-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.my-110 {
    margin-top: 110px !important;
    margin-bottom: 110px !important;
}

.my-120 {
    margin-top: 120px !important;
    margin-bottom: 120px !important;
}

.my-130 {
    margin-top: 130px !important;
    margin-bottom: 130px !important;
}

/*-----------------------------------------------------------
                    Typography 
-------------------------------------------------------------*/

body {
    color: #888;
    font-family: 'Muli', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 14px;
    font-weight: 300;
    overflow-x: hidden !important;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}


p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 0;
}


li {
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    list-style: none !important;

}

ul.list-inline li {
    display: inline-block;
}

.btn:focus {
    box-shadow: none !important;
}


/*----------Social Buttons-----------*/

.bg-cb {
    background-color: #f7f7f7;
}

.bg-ag {
    background-color: rgba(221, 221, 221, 0.31);
}

.bg-ab {
    background-color: rgba(48, 52, 65, 0.58);
}

.bg-blue {
    background-color: #6449E7;
}

.bg-orange {
    background-color: #fa6742 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-grey {
    background-color: #ddd !important;
}

.bg-f {
    background-size: cover;
    background-position: center;
    height: 750px;
    background-repeat: no-repeat;
}

.bg-l {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}

.bg-h {
    background-position: center;
    background-size: cover;
    height: 450px;
}

.bg-s {
    background-position: center;
    background-size: cover;
    height: 400px;
}

.bg-xs {
    background-position: center;
    background-size: cover;
    height: 300px;
}

.btn.v1 {
    background: #D70100;
    color: #fff;
    line-height: 1;
    padding: 18px 35px;
    border-radius: 3px;
}

.btn.v2 {
    background: #000;
    color: #fff;
    line-height: 1;
    padding: 18px 35px;
    border-radius: 3px;
}

/*-----------------------------------------------------------
                  Fixed header
-------------------------------------------------------------*/
.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    transition: 0.7s;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.7s;
}

.header.hide {
    top: -100px;
    visibility: hidden;
    transition: 0.7s;
}

.header.transparent.scroll {
    padding: 0;
    transition: 0.7s;
    z-index: 9999;
}

.header.transparent.scroll .site-navbar-wrap.v2 {
    background-color: #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}


.header.transparent.scroll .site-navbar-wrap .site-navbar .site-navigation .site-menu .has-children>a::before {
    color: #222222;
}

.header.transparent.scroll .btn.v6 {
    border-color: transparent;
    color: #888 !important;
}

.header.transparent.scroll .btn.v6:hover {
    background-color: #6449e7;
    color: #fff !important;
}


/*-----------------------------------------------------------
                    Menu
-------------------------------------------------------------*/
.site-navbar-wrap {
    z-index: 99;
    transition: 0.3s all ease;
}

.site-navbar-wrap .navbar-brand {
    padding: 0;
    margin-right: 0;
    line-height: 1.2;
}

.site-navbar-wrap.scrolled {
    padding: 0px 0;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
}

.site-navbar-top {
    display: none;
    font-size: 0.8rem;
    background: #1e7e34;
}

.site-navbar-top a {
    color: #fff;
}

.site-navbar-top .text-with-icon {
    color: rgba(255, 255, 255, 0.5);
}

.site-navbar-top,
.site-navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.site-navbar {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: none;
}

.site-navbar .site-logo {
    font-weight: 200;
}

.site-navbar .site-logo a {
    font-weight: 200;
    font-size: 26px;
    color: #000;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-menu>li {
    position: relative;
}


.site-navbar-wrap.v2 .site-menu>li::before {
    background: #6449e7;
}

.site-navbar .site-navigation .site-menu .active>a {
    color: #000;
}

.user-menu li a {
    padding-left: 5px !important;
    padding-right: 0 !important;
}

.user-menu li a {
    background: #6449E7;
    color: #fff !important;
    border-radius: 20px;
    transition: 0.4s;
    padding: 10px 20px !important
}

.user-menu li a:hover {
    background: #fff;
    color: #333 !important;
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
    padding: 10px 15px;
}

.menu-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.user-login-wrap {
    margin-left: 20px;
}

.site-navbar-wrap.v2 {
    padding: 10px 0;
    background-color: #fff;
}

.site-navbar-wrap.v2 .site-navbar .site-navigation .site-menu>li>a {
    color: #222222;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
    color: #000;
}

.site-navbar .site-navigation .site-menu>li:last-child {
    padding-right: 0;
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative;
}

.has-children a {
    font-size: 15px;
    font-weight: 300;
}

.site-navbar .site-navigation .site-menu .has-children>a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    display: block;
}

.dropdown>.has-children>a::before {
    position: absolute !important;
    content: "\e876" !important;
    color: #222222 !important;
    font-family: "Linearicons-Free";
    top: 11px !important;
    right: 3px !important;
    font-size: 10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 122%;
    left: -12%;
    position: absolute;
    text-align: left;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    transition: 0.4s 0s;
    z-index: 999;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    min-width: 15.3rem;
    z-index: 9999;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown li {
    position: relative;
    padding: 5px 20px;
}

.dropdown.sub-menu {
    position: absolute;
    min-width: 15.5rem !important;
    z-index: 9999;
}

.dropdown li a:hover {
    margin-left: 5px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #000;
    border-width: 7px;
    margin-left: -7px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    text-transform: none;
    letter-spacing: normal;
    transition: 0s all;
    color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
    color: #28a745 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
    border-bottom: 1px solid #f5f6f7;
    list-style: none;
    margin: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown li:last-child {
    border-bottom: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    display: block;
    color: #888;
    transition: 0.3s;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
    color: #222222;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
    content: "\f10a";
    right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown.sub-menu {
    top: 2% !important;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
    transition-delay: 0s;
    margin-top: -1px;
    visibility: visible;
    opacity: 1;
}

.site-mobile-menu {
    width: 320px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    transform: translateX(110%);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
    transform: translateX(0%);
}

.mobile-bar span {
    font-size: 28px;
    border-radius: 4px;
}

.site-navbar-wrap.v2 .mobile-bar span {
    color: #000;
}

.site-mobile-menu-close.js-menu-toggle span {
    color: #000;
    margin-right: 15px;
    font-size: 25px !important;
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll !important;
    position: relative;
    padding: 20px 30px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.site-mobile-menu .site-nav-wrap a {
    padding: 15px 0;
    display: block;
    position: relative;
    color: #212529;
    font-weight: 500;
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
    color: #28a745;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: "Linearicons-Free";
    content: "\e874";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-180deg);
    transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
    font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
    display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
    padding-left: 40px;
    font-size: 16px;
    color: #888;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
    padding: 0;
    margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
    display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
    font-size: 16px;
    padding-left: 60px;
}

/*---------------------------------
        Hero section
-----------------------------------*/
header.header .container,
.hero_section .container {
    max-width: 1250px !important;
}
.hero_section{
    margin-top: 180px;
}
.hero_content h1 {
    font-size: 55px;
    font-weight: 400;
    color: #D70100;
    line-height: 1.1;
}

.hero_content p {
    font-size: 24px;
    color: #000;
    font-weight: 500;
    line-height: 1.4;
    margin: 125px 0 60px;
}

.hero_content img {
    float: right;
    clear: inherit;
    max-width: 100px;
    margin-right: 30px;
}

.hero_video img {
    position: relative;
    box-shadow: 0 0 17px #ddd;
}

.hero_video_btn a {
    background: #D70100;
    color: #fff;
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.hvr-ripple-out::before {
    border-radius: 50%;
    content: '';
    position: absolute;
    border: #000 solid 8px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    transition: all 0.3s;
    animation-iteration-count: infinite;
}

.hero_video_btn a i {
    font-size: 42px;
    line-height: 82px;
    margin-left: 5px;
}

.hvr-ripple-out:hover:before,
.hvr-ripple-out:focus:before,
.hvr-ripple-out:active:before {
    border: #333 solid 6px;
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
}

@-webkit-keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}


/*---------------------------------
        Social Media section
-----------------------------------*/

.media_section_title h2 {
    color: #333;
    font-size: 42px;
}

.media_section_title h2 {
    font-size: 44px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #D70100;
    font-family: 'Muli', sans-serif;
}

.media_opt_one li {
    display: inline-block;
    color: #000;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
    position: relative;
    padding: 0 20px;

}

.media_opt_one li:after {
    position: absolute;
    top: 51%;
    right: -16px;
    content: "";
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(-50%);

}

.media_opt_two {
    margin-top: 15px;
}

.media_opt_two li {
    display: inline-block;
    color: #000;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
    position: relative;
    padding: 0 5px;

}
.social_media_box{
    padding: 20px 0 60px;
}
.single_media_box {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 18px #ddd;
    vertical-align: middle;
    display: table-cell;
}
.single_media_box img{
    max-width: 160px;
}

/*---------------------------------
        Partner section
-----------------------------------*/
.partner_section {
    position: relative;
    text-align: center;
}

.partner_next,
.partner_prev {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.partner_prev {
    left: 0;
}

.partner_next {
    right: 0;
}

.partner_next i,
.partner_prev i {
    font-size: 38px;
}

/*---------------------------------
        Promo section
-----------------------------------*/

.promo_section {
    padding: 150px 0 140px;
}
.promo_content span {
    color: #D70100;
    font-size: 20px;
    font-weight: 400;
}


.promo_content h2 {
    font-weight: 400;
    line-height: 1.2;
    margin: 20px 0;
}

.promo_content p {
    color: #000;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 40px;
}

.promo_img {
    text-align: right;
}

.promo_img img {
    max-width: 410px;
}

/*---------------------------------
        Spreaker section
-----------------------------------*/
.speaker-section {
    padding: 30px 0 40px;
}
.speaker_section_title {
    text-align: center;
}

.speaker_section_title h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 55px;
    color: #000;
}

.speaker_section_title h2 span {
    color: #D70100;
}

.speaker_indic img {
    margin: 30px 0 40px;
}

.speaker_indic {
    text-align: center;
}

.speaker_name {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

/*---------------------------------
        Call to action section
-----------------------------------*/
.call-to-action {
    position: relative;
    padding: 130px 0 170px;
}

.call_to_action_text {
    text-align: right;
}

.call_to_action_text p {
    color: #000;
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 50px;

}

.call_to_action_text p span {
    font-weight: 800;
}

.action_bg {
    position: absolute;
    left: -7%;
    top: 5%;
    max-width: 450px;
}

.action_btn {
    color: #000;
    font-size: 24px;
    font-weight: 800;
    text-decoration: underline;

}

.action_btn span {
    color: #707070;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    border: 1px solid #707070;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    font-size: 20px;
}

/*---------------------------------
        Problem  section
-----------------------------------*/
.problem_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}

.problem_one {
    position: relative;
    padding-bottom: 120px;
}

.problem_one:after {
    position: absolute;
    bottom: 8%;
    left: 22%;
    width: 600px;
    height: 2px;
    transform: translateX(-50%);
    transform: rotate(25deg);
    content: "";
    background: #333;
}

.problem_one .problem_text {
    text-align: left;
    margin-left: 90px;

}

.problem_one .problem_text:before {
    position: absolute;
    top: 7%;
    left: -56%;
    content: "1";
    width: 350px;
    height: 350px;
    border: 2px dashed #7F7F7F;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    color: #000;
    font-size: 220px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.problem_two .problem_text:before {
    position: absolute;
    top: 11%;
    right: -60%;
    content: "2";
    width: 350px;
    height: 350px;
    border: 2px dashed #7F7F7F;
    background: transparent;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    color: #000;
    font-size: 220px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.problem_two .problem_text {
    text-align: right;
    margin-right: 90px;
}

.problem_text h2 {
    font-size: 44px;
    font-weight: 400;
    position: relative;
    color: #D70100;
    padding-bottom: 3px;
}

.problem_text h2:after {
    position: absolute;
    bottom: 0;
    right: 4px;
    content: "";
    background: #D70100;
    width: 42px;
    height: 2px;
}

.problem_one .problem_text h2:after {
    left: 2px;
}

.problem_two .problem_text h2:after {
    right: 4px;

}

.problem_one .problem_text p {
    color: #646464;
    font-size: 18px;
    padding-right: 140px;
}

.problem_two .problem_text p {
    color: #646464;
    font-size: 18px;
    padding-left: 90px;
}


/*---------------------------------
        Newsletter section
-----------------------------------*/
.newsletter_section {
    margin: 80px 0 100px;
}

.newsletter_box {
    background: #D70100;
    padding: 40px 30px 40px 50px;
    border-radius: 3px;
}

.newsletter_box p {
    color: #fff;
    font-size: 20px;
    line-height: 1.2
}

/*---------------------------------
        Footer section
-----------------------------------*/

.footer_section {
    background: #000;
    padding: 35px 0;
}

.footer_menu {
    text-align: center;
}

.footer_menu ul li {
    display: inline-block;
}

.footer_menu ul li a {
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    padding: 0 10px;
    font-weight: 600;
}